<div class="container">
  <div class="row justify-content-around">
    <div class="col-sm-4 col-md-8">
      <table class="table table-borderless">
        <!--<thead>-->
         <tbody>    
          <tr>
          <% @users.each do |user| %> 
           <th><%= image_tag user.get_profile_image, size: '100x100', class:"rounded-circle"; %></th>
           <th><%= user.name %></th>
          </tr>
          <% end %>
         </tbody>
        <!--</thead> -->
      </table>
    </div>
  </div>
</div>